$default_background: #212121 url("/images/background.gif");
$default_padding: 10px;
$default_margin: 10px;
$default_width: 900px;
$default_label_width: 20%;

body { 
	font-family: Lucida Grande, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	background: $default_background; 
}

#errorExplanation {
  width: 270px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

.field_with_errors {
	width: 100%;
	display: table;
	label {
	  	float: left;
	  	width: $default_label_width;
		background-color: red;
	}
}

div#wrapper {
	width: $default_width;
	div#header {
		div#logo {
			padding: $default_padding;
		}
		div#menu_and_options {
			width: $default_width;
			height: 60px;
			background: #444444;
			color: white;
			div#menu ul {
				padding: $default_padding;
				li {
					list-style: none;
					float: left;
					margin: 0 1em;
					a {
						color: white;
					}
					a.active {
						color: red;
					}
				}
			}
			div#enable_lightbox {
				padding: 0 (2 * $default_padding);
				form.disabled {
					opacity: 0.3;
				}
				input {
					padding: 0 0 2px;
				}
			}
		}
	}
	div#content {
		$padding_content: $default_padding;
		background: white;
		min-height: 575px;
		width: $default_width - ($padding_content * 6);
		padding: $padding_content * 2 $padding_content * 2 $padding_content * 2 $padding_content * 4;
		float: left;
		border-bottom: 20px solid black;
		$bottom_margin: 2em;
		h2.big {
			font-size: 2em;
		}
		form {
			width: $default_width / 2;
			div.field_with_errors input {
				float: right;
				margin: -$default_margin * 2 0 0 0;
			}
		}
		label {
			font-weight: bold;
			display: block;
		}
		p {
			label {
				width: $default_label_width;
			}
			input[type="text"] {
				float: right;
				margin: -21px 0 0;
			}
		}
		table {
			margin: 0 0 $bottom_margin;
			td {
				padding: $default_padding / 2;
			}
		}
		div#zipResult{
			padding: $default_padding 0;
		}
	}
}

//fancybox
div#fancybox-content {
	$form_width: $default_width / 2;
	h1 {
		text-align: center;
	}
	form, h1 {
		max-width: $form_width;
	}
	label {
		width: $default_label_width;
	}
	input[type=submit], input[type=button] {
		float: none;
		width: auto;
	}
	input {
		margin: -5px 0 0;
		float: right;
		width: 75%;
	}
	div#destroy_user_form input {
		float: left;
		margin: $default_margin $default_margin 0 0
	}
	table {
		margin: 0 0 1em;
	}
	
	div#zipResult {
		padding: $default_padding 0;
	}
	
	label {
	  	margin: 0 0 -2em;
	}
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:hover { color: #fff; background-color:#000; }
