body {
  font-family: Lucida Grande, Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  background: #212121 url("/images/background.gif"); }

#errorExplanation {
  width: 270px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff; }

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px; }

#errorExplanation ul li {
  font-size: 12px;
  list-style: square; }

.field_with_errors {
  width: 100%;
  display: table; }
  .field_with_errors label {
    float: left;
    width: 20%;
    background-color: red; }
  .field_with_errors select {
    margin: -5px 0 0 25%; }

div#wrapper {
  width: 900px; }
  div#wrapper div#header div#logo {
    padding: 10px; }
  div#wrapper div#header div#menu {
    width: 900px;
    height: 40px;
    background: #444444;
    color: white; }
    div#wrapper div#header div#menu ul {
      padding: 10px; }
      div#wrapper div#header div#menu ul li {
        list-style: none;
        float: left;
        margin: 0 1em; }
        div#wrapper div#header div#menu ul li a {
          color: white; }
        div#wrapper div#header div#menu ul li a.active {
          color: red; }
    div#wrapper div#header div#menu div#enable_lightbox {
      padding: 0 20px; }
      div#wrapper div#header div#menu div#enable_lightbox form.disabled {
        opacity: 0.3; }
      div#wrapper div#header div#menu div#enable_lightbox input {
        padding: 0 0 2px; }
  div#wrapper div#content {
    background: white;
    min-height: 575px;
    width: 840px;
    padding: 20px 20px 20px 40px;
    float: left;
    border-bottom: 20px solid black; }
    div#wrapper div#content h2.big {
      font-size: 2em; }
    div#wrapper div#content form {
      width: 450px; }
      div#wrapper div#content form div.field_with_errors input {
        float: right;
        margin: -20px 0 0 0; }
    div#wrapper div#content label {
      font-weight: bold;
      display: block; }
    div#wrapper div#content p label {
      width: 20%; }
    div#wrapper div#content p input[type="text"] {
      float: right;
      margin: -21px 0 0; }
    div#wrapper div#content table {
      margin: 0 0 2em; }
      div#wrapper div#content table td {
        padding: 5px; }
    div#wrapper div#content div#zipResult {
      padding: 10px 0; }

div#fancybox-content h1 {
  text-align: center; }
div#fancybox-content form, div#fancybox-content h1 {
  max-width: 450px; }
div#fancybox-content label {
  width: 20%;
  margin: 0 0 -2em; }
div#fancybox-content input[type=submit], div#fancybox-content input[type=button] {
  float: none;
  width: auto; }
div#fancybox-content input {
  margin: -5px 0 0;
  float: right;
  width: 75%; }
div#fancybox-content p select {
  margin: 0 0 0 29px; }
div#fancybox-content div#destroy_user_form input {
  float: left;
  margin: 10px 10px 0 0; }
div#fancybox-content table {
  margin: 0 0 1em; }
div#fancybox-content div#zipResult {
  padding: 10px 0; }
div#fancybox-content p#bottom_form_buttons {
  padding: 10px 0 0; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000; }

a:hover {
  color: #fff;
  background-color: #000; }
