<p>
  <b>Country code:</b>
  <%=h @country.country_code %>
</p>

<p>
  <b>Country name en:</b>
  <%=h @country.country_name_en %>
</p>


<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>