%div#destroy_user_form
  Are you sure you want to delete this user?
  = button_to 'Yes', admin_user_path(@user, :close_lightbox => "1"), :remote => true, :method => :delete
  = button_to_close_fancybox 'No'
