%ul
  %li
    = link_to("Home", admin_routing? ? admin_root_path : root_path, active_link?("pages"))
    - menuitems.each do |value|
      %li
        - path = "#{"admin_" if admin_routing?}#{value.pluralize}_path"
        = link_to(value.capitalize.pluralize, send(path), active_link?(value.pluralize))