%ul
  %li
    = link_to("Home", "/", active_link?("pages"))
    - ["user"].each do |value|
      %li
        = link_to(value.capitalize.pluralize, send("#{value.pluralize}_path"), active_link?(send("#{value.pluralize}_path")))